@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main {
    width: 1200px;
    margin: auto;
}

* {
    margin: 0%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    padding: 35px;
    position: relative;
    right: -60px;
}

.header {
    background-color: #F0F3F3;
    height: 125px;
    width: 100%;
}

.flex2,
.flex {
    display: flex;
    margin: auto;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #FC3003;
    margin: 76px;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 14px;
    margin: auto;
    margin: 76px;
}

.text1,
.text2{
    font-family: 'Roboto', sans-serif;
    padding: 14px;
    margin: auto;
    margin: 76px;
}

img {
    width: 300px;
    height: 538px;
    padding: 14px;
    margin: 76px;
}

footer {
    background-color: black;
    color: #F0F3F3;
    text-align: center;
}

.contato1 {
    margin: 76px;
}

input {
    width: 1110px;
    height: 38px;
    margin: 76px;
}

textarea {
    width: 1110px;
    height: 150px;
    margin: 76px;
}

h3 {
    margin: 76px;
}